/* reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, main{
    background-color: white;
}
main{
    width: 60%;
    margin: auto;
    margin-top: 30px;
    border: 1px solid #F5F8F9;
    border-radius: 5px;

}

body{
    background-color: #F5F8F9;
    width: 100%;;
}

h1{
    display: inline-block;
}
.logo{
    vertical-align: middle;
}

/* colors */

.white-bg{
    background-color: white;
}

.blue-bg{
    background-color: #48ADF1;
    border: 1px solid #48ADF1;
}

.text-white{
    color: white;
}

.text-grey{
    color: gray;
    border: 1px solid grey;

}

/* end colors */

.radius-top{
    border-radius: 5px;
    font-size: 12px;
    padding: 10px;
    margin-bottom: 10px;

}

.add{
    border-bottom: 1px solid lightgrey;
    margin-top: 20px;
}


#triangle{
    font-size: 10px;
}

section h2 {
    margin-bottom: 10px;
}

section{
    margin-bottom: 30px;
}

ul{
    list-style: none;
}

.highlighted-blue{
    background-color: #48ADF1;
    border-radius: 15px 15px 15px 15px;
    padding:5px;
    font-size: 0.75em;
    color: white;
}

.check-green{
    font-size: 15px;
    color: #6AC3AD;
    width: 5px;
    height: 5px;
    border: 2px solid #6AC3AD;
    border-radius: 50%;
    margin-right: 10px;
    padding: 5px 10px;
    text-align: center;
    line-height: 5px;
}

.text-note{
    font-size: 20px;
}
.highlighted-purple

.highlighted-green1

.highlighted-purple

.highlighted-orange

.highlighted-pink

.highlighted-green2