/* reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header, main{
    background-color: white;
}

.container{
    background-color: grey;
}

h1{
    display: inline-block;
}
.logo{
    vertical-align: middle;
}

/* colors */

.white-bg{
    background-color: white;
}

.blue-bg{
    background-color: #48ADF1;
}

.text-white{
    color: white;
}

.text-grey{
    color: gray;
}