/* reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header, main{
    background-color: white;
}
main{
    width: 60%;
    margin: auto;
}

.container{
    background-color: #F5F8F9;
    width: 100%;
}

h1{
    display: inline-block;
}
.logo{
    vertical-align: middle;
}

/* colors */

.white-bg{
    background-color: white;
}

.blue-bg{
    background-color: #48ADF1;
    border: 1px solid #48ADF1;
}

.text-white{
    color: white;
}

.text-grey{
    color: gray;
    border: 1px solid grey;

}

/* end colors */

.radius-top{
    border-radius: 5px;
    font-size: 12px;
    padding: 10px;
    margin-bottom: 10px;

}

.add{
    border-bottom: 1px solid lightgrey;
}


/* 
U+02713 spunta v

U+02717 spunta x
*/

#triangle{
    font-size: 10px;
}

section h2 {
    margin-bottom: 10px;
}

ul{
    list-style: none;
}

.highlighted-blue{
    background-color: #48ADF1;
    border-radius: 15px 15px 15px 15px;
    padding:5px;
    font-size: 0.75em;
    color: white;
}

.highlighted-purple

.highlighted-green1

.highlighted-purple

.highlighted-orange

.highlighted-pink

.highlighted-green2